<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книжный магазин</title>
</head>
<body>

<h1 th:text="|'${book.name}', ${book.author}"></h1>
<h2 th:if="${book.isNew}">Новинка</h2>
<table>
    <tr>
        <td>
            <img th:src="|/images/${book.cover}.png|" alt="Обложка" />
            <h2 th:text="${book.status}"></h2>
        </td>
        <td>
            <table>
                <tr>
                    <th>Год издания:</th>
                    <td th:text="${book.publishYear}"></td>
                </tr>
                <tr>
                    <th>Жанр:</th>
                    <td th:text="${book.genre}"></td>
                </tr>
                <tr>
                    <th>Язык:</th>
                    <td th:text="${book.language}"></td>
                </tr>
                <tr>
                    <th>ISBN:</th>
                    <td th:text="${book.ISBN}"></td>
                </tr>
                <tr>
                    <th>Цена:</th>
                    <td th:text="${book.price}"></td>
                </tr>
                <tr>
                    <th>Страниц:</th>
                    <td th:text="${book.pages}"></td>
                </tr>
                <tr>
                    <th>Аннотация:</th>
                    <td th:text="${book.annotation}"></td>
                </tr>
                <tr>
                    <th>Рейтинг:</th>
                    <td th:text="${book.rating}"></td>
                </tr>
                <tr>
                    <th>Количество:</th>
                    <td th:text="${book.amount}"></td>
                </tr>
                <tr>
                    <th>
                        <form th:action="@{../addToCart}" method="post">
                            <input type="hidden" th:name="bookId" th:value="${book.id}">
                            <button type="submit" th:text="${amount} > 0 ? 'Добавить ещё' : 'Добавить в корзину'" th:disabled="${amount} >= ${book.amount}"> </button>
                        </form>
                    </th>
                    <td>
                        <div th:if="${amount} > 0">
                            <p>Товар уже есть в корзине в количестве <span th:text="${amount}"></span></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td><a th:href="@{../cart}">Посмотреть, что в корзине</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>


</body>
</html>