<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книжный магазин</title>
</head>
<body>
<style>
    td, th {
      padding: 10px;
    }
</style>

<table>
    <thead>
    <tr>
        <th>Название</th>
        <th>Автор</th>
        <th>Год издания</th>
        <th>Жанр</th>
        <th>Цена</th>
        <th>Страниц</th>
        <th>Рейтинг</th>
        <th>Новинка</th>
        <th>Количество</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td><a th:href="@{/book/(id=${book.id})}" th:text="${book.name}"></a></td>
        <td th:text="${book.author}"></td>
        <td style="text-align: center;" th:text="${book.publishYear}"></td>
        <td th:text="${book.genre}"></td>
        <td style="text-align: center;" th:text="${book.price}"></td>
        <td style="text-align: center;" th:text="${book.pages}"></td>
        <td style="text-align: center;" th:text="${book.rating}"></td>
        <td style="text-align: center;" th:text="${book.isNew} ? 'Да' : 'Нет'"></td>
        <td style="text-align: center;" th:text="${book.amount}"></td>
        <td th:text="${book.status}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>