<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книжный магазин</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:include="header.html"></div>
<h1>Каталог книг</h1>
<div class="book-catalog">
    <div class="book-card" th:each="book : ${books}">
        <a th:href="@{/book/(id=${book.id})}">
            <img th:src="|/images/${book.cover}.png|" alt="Обложка книги">
        </a>
        <p class="status" th:text="${book.status}"></p>
        <h2><a th:href="@{/book/(id=${book.id})}" th:text="${book.name}"></a></h2>
        <p>(<span th:text="${book.author}"></span>), <span th:text="${book.genre}"></span>, <span th:text="${book.publishYear}"></span></p>
        <p class="price">Цена: <span th:text="${book.price}"></span></p>
        <p><span th:text="${book.pages}"></span> cтр. <span th:text="${book.rating}"></span>/10</p>
        <p class="new" th:text="${book.isNew} ? 'Новинка' : ''"></p>
    </div>
</div>
</body>
</html>
